@model PatientHandlingSystem.ViewModels.SolutionVM

<div>
    @*<h4>Solution</h4>*@
    <hr />
    <h1 class="text-center">@Model.Solution.Title</h1>
    <p class="centerText">
    @Html.Raw(Model.Solution.Content)
    </p>
    @*<dl >
        <dt>
            <b>@Model.Title</b>
        </dt>

        <dd class="multiLine text-center">
            @Html.Raw(Model.Content)
        </dd>

    </dl>*@
</div>
<p>
</p>
