@model PatientHandlingSystem.Models.Solution

<div>
    <h4>Solution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Solution
        </dt>

        <dd class="multiLine">
            @Model.Content
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
