body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.treeEditor{
    border-color:black;
    border-style:solid;
    border-width:thin;
}

.top-buffer { 
    margin-top:20px;
}

.validation-summary-errors {
    color: red;
    font-weight:bold;
}

.multiLine {
    white-space:pre-line;
}

.dl-horizontal dt {
    white-space:normal; /*for the details views*/
}
